*.psd filter=lfs diff=lfs merge=lfs -text
3dworldscene/Assets/BOKI/LowPolyNature/Terrain/data/*.asset filter=lfs diff=lfs merge=lfs -text
3dworldscene/Assets/CartoonTracksPack1/Track1/Textures/road_normal.png filter=lfs diff=lfs merge=lfs -text
